<a href="https://colab.research.google.com/github/ECastro08/Alura-Store-Challenge/blob/main/challengeTelecomX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd
import requests
import numpy as np

## **Extraccion de los datos**

In [2]:
url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

In [ ]:
response = requests.get(url)
data = response.json()
df_telecom = pd.DataFrame(data)
df_telecom

### **Normalizando los datos**

In [12]:
df_telecom = pd.json_normalize(data)
df_telecom

## **Transformacion**

In [ ]:
df_telecom.info()

In [ ]:
df_telecom.dtypes

Analizadas los tipos de datos de cada una de las columnas, conclui que las columnas mas relevenates para este analisis son:

* Churn
* customer.tenure
* account.Contract

* account.Charges.Monthly

* account.PaymentMethod

* internet.TechSupport

* internet.InternetService

* internet.OnlineSecurity

* account.Charges.Total

* customer.SeniorCitizen

### Incoherencias
Aplicare la funcion unique a algunas columnas categoricas para detectar algunas anomalias

In [37]:
df_categ = df_telecom[['Churn','customer.gender', 'customer.Partner', 'customer.Dependents', 'phone.PhoneService', 'account.Contract','account.PaymentMethod']]

In [ ]:
from enum import unique
for col in df_categ:
  print(f'valores unicos de {col}: {df_categ[col].unique()}')

In [57]:
# conviertiendo a formato numerico
df_telecom['account.Charges.Total'] = pd.to_numeric(df_telecom['account.Charges.Total'],errors='coerce')

In [ ]:
# reviso nuevamente la informacion del dataset
df_telecom.info()

In [66]:
#Agrupando un subdataset de los valores nulos detectados en el bloque anterior
df_nulls = df_telecom[df_telecom['account.Charges.Total'].isnull()]

In [68]:
df_nulls['customer.tenure'].value_counts()

customer.tenure
0    11
Name: count, dtype: int64

Observando que el valor de la columna customer.Tenere es igual a 0, deducimos que es un cliente nuevo, por ende la columna 'account.Charges.Total' en la cual estan los registros nulos, no existe un cobro aun.

### **Manejo de inconsistencias**

In [70]:
categorical_cols = df_telecom.select_dtypes(include='object').columns
df_telecom[categorical_cols] = df_telecom[categorical_cols].apply(lambda x: x.str.strip())

In [72]:
df_telecom['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)